---
layout: default
disqus: false
class: 'post-template'
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>

<main class="content" role="main">

    <article class="{{ page.subclass }}">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
            <!-- <a href='{{ site.baseurl }}{{ page.about }}'>{{ site.author }}</a> -->
            <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
                <!-- [[tags prefix=" on "]] -->
                {% if page.tags.size > 0 %} 
                on 
                {% for tag in page.tags %}
                    {% if forloop.index == page.tags.size %}
                       <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>
                    {% else %}
                       <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                    {% endif %}   
                {% endfor %}
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            
            {{ content }}

        </section>

        <footer class="post-footer">

            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->

            {% if site.image %}
            <figure class="author-image">
                <a class="img" href="{{ site.baseurl }}author/{{ page.nickname }}" style="background-image: url({{ site.baseurl }}{{ site.image }})"><span class="hidden">{{ page.author }}'s Picture</span></a>
            </figure>
            {% endif %}

            <section class="author">
                <h4><a href="{{ site.baseurl }}author/{{ page.nickname }}">{{ page.author }}</a></h4>
                
                {% if site.bio %}
                    <p> {{ site.bio }}</p>
                {% else %}
                    <p>Read <a href="{{ site.baseurl }}author/{{ page.nickname }}">more posts</a> by this author.</p>
                {% endif %}
                <div class="author-meta">
                    {% if site.location %}<span class="author-location icon-location"> {{ site.location }}</span>{% endif %} 
                    {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}"> {{ site.short_url }}</a></span>{% endif %} 
                </div>
            </section>

            <!-- /author  -->

            <section class="share">
                <h4>分享这篇文章</h4>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_weixin"></a>
	<a href="http://www.jiathis.com/share?uid=1953182" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1406647851441111" charset="utf-8"></script>
<!-- JiaThis Button END -->

<!--
                <a class="icon-wb-plus" href="http://service.weibo.com/share/share.php?url={{ site.url }}{{ page.url | remove: '/' }}&ralateUid=1751110627&language=zh_cn&searchPic=true&style=simple"
                   onclick="window.open(this.href, 'wb-plus-share', 'width=490,height=530');return false;">
				   <img src="http://img.t.sinajs.cn/t4/appstyle/widget/images/shareButton/share_icon_mini.png?id=1375775002754"></img>
                    <span class="hidden">微博</span>
                </a>
				
				
				
				<wb:share-button addition="simple" type="icon" ralateUid="1751110627"></wb:share-button>
				-->
				
            </section>
            
            <!-- Add Disqus Comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}
            {% if page.uyan %}
                {% include uyan.html %}
            {% endif %}
            
        </footer>

    </article>

</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->{{ post.url | remove: '/' }}
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ site.baseurl }}{{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl }}{{ page.next.url | remove: '/' }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ site.baseurl }}{{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl }}{{ page.previous.url | remove: '/' }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>

<!-- /post -->
